
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 96%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 25 85% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 20 14% 4%;
    --muted: 0 0% 94%;
    --muted-foreground: 20 14% 45%;
    --accent: 345 61% 33%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 25 85% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 30 33% 96%;
    --card: 20 14% 6%;
    --card-foreground: 30 33% 96%;
    --popover: 20 14% 6%;
    --popover-foreground: 30 33% 96%;
    --primary: 25 85% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 30 33% 96%;
    --muted: 20 14% 12%;
    --muted-foreground: 20 14% 65%;
    --accent: 345 61% 33%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 25 85% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold;
  }
}
